<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <h2>Welcome</h2>
    <%= link_to 'login', admin_path, class: 'btn btn-primary' %>
    <%= link_to 'Beers', beers_path, class: 'btn btn-primary' %>
  </div>
  <div class="col-sm-4"></div>
</div>


